body {
    background-color: #ffffff;
    margin: 0;
  }
body .secao-produtos {
    background-color: #e7e4d8;
    font-family: Georgia, serif;
    padding: 60px;
    align-items: center;
}
.secao-produtos .produto {
    flex-direction: row;
    text-align: left;
    display: flex;
    justify-content: space-between;
    gap: 16;
}
body .prod-item {
    margin-left: 220px;
    margin-right: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16;
}
.prod-item h2 {
    text-align: center;
    font-size: 2.25em;
    margin-bottom: 20px;
}
h2.pro-pau {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.pro-car {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}
.pro-min {
    margin-top: 0;
    margin-right: 10px;
    margin-bottom: 20px;
    margin-left: 10px;
}

h2.pro-pau::before {
    color: #492901;
}
h2.pro-car::before {
    color: #c17139;
}
h2.pro-min::before {
    color: #d7a54d;
}
.prod-item h2::before {
    content: '';
    display: block;
    width: 100px;
    height: 100px;
    background-color: currentColor;
    border-radius: 50%;
    margin: 20px auto;
    border: 5px solid #e7e4d8;
    box-shadow: 0 0 0 10px currentColor;
}
.btn-produto {
    width: 180px;
    border: 3px solid;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}
body .locais {
    font-family: Georgia, serif;
    max-width: 960px;
    margin: 0 auto;
    padding: 20px 0;
}
.locais-itens > div {
    width: 460px;
    float: left;
    margin: 0 10px;
    align-items: left;
    align-content: left;
    text-align: left;
    align-tracks: left;
}
.locais-itens img {
    width: 460px;
    display: block;
    float: left;
    margin: 0 10px;
}
locais-itens>div{
    margin: 0 10px;
    float: left;
    display: flex;
    flex-direction: row;
    gap: 16;
}
.locais-itens h2 {
    font-size: 2.25em;
    margin-bottom: 20px;
}
.locais-itens p {
    font-size: 1.125em;
    line-height: 1.4em;
    margin-bottom: 40px;
}
div>a{
    width: 180px;
    border: 3px solid;
    color: #252525;
    text-decoration: none;
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    padding: 15px 0;
    margin: 20px auto 0 auto;
}
.locais-item a {
    font-size: 1.125em;
    text-transform: uppercase;
    text-decoration: none;
    border: 3px solid;
    color: #252525;
    padding: 10px 20px;
}